@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic,cyrillic-ext');

* {
  font-size: 14px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
@media (min-width: 768px) {
  * {
    font-size: 16px;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
}

.container {
  max-width: 960px;
}

#sub-header-index {
    background-color: transparent;
    background-image: -webkit-linear-gradient(0deg, #757575, rgba(123, 123, 123, 0.13)), url(../img/11.jpg);
    background-image: linear-gradient(0deg, #757575, rgba(123, 123, 123, 0.13)), url(../img/11.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#sub-header-about {
    height: 55vh;
    background-color: transparent;
    background-image: -webkit-linear-gradient(339deg, #333333d1, rgba(0, 102, 60, 0.13)), url(../img/about.jpg);
    background-image: linear-gradient(0.10turn, rgba(41, 41, 41, 0.67), rgba(0, 0, 0, 0.45)), url(../img/about.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#sub-header-service {
    height: 55vh;
    background-color: transparent;
    background-image: -webkit-linear-gradient(339deg, #333333d1, rgba(0, 102, 60, 0.13)), url(../img/services.jpg);
    background-image: linear-gradient(0.10turn, rgba(41, 41, 41, 0.67), rgba(0, 0, 0, 0.45)), url(../img/services.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}
#sub-header-recovery {
    height: 55vh;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #000, rgba(0, 102, 60, 0.13)), url(../img/rec.jpeg);
    background-image: linear-gradient(10deg, #000, rgba(0, 102, 60, 0.13)), url(../img/rec.jpeg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#sub-header-it {
    height: 55vh;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #000, rgba(0, 102, 60, 0.13)), url(../img/itt.jpeg);
    background-image: linear-gradient(10deg, #000, rgba(0, 102, 60, 0.13)), url(../img/itt.jpeg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#sub-header-contact {
    height: 55vh;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #000, rgba(0, 102, 60, 0.13)), url(../img/contacts5.jpg);
    background-image: linear-gradient(10deg, #000, rgba(0, 102, 60, 0.13)), url(../img/contacts5.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

.hero-text {
    padding-top: 30vh;
    padding-bottom: 10px;
}

.nav-link {
    font-weight: 700px;
    text-transform: uppercase;
    font-size: 1em;
    padding: .5rem 0 0 0;
}

.nav .active {
    border-bottom: 2px solid #fff;
}

.nav-item:hover {
    border-bottom: 2px solid #fff;
}

#aboutus{
    margin-top: 3%;
}

#primushetva{
    margin-top: 3%;
}

.service-box > i{
    font-size: 60px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.section-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact{
    text-align: left;
}
.contact i {
    width: 60px;
    height: 80px;
    border-radius: 30px;
    border: 2px solid #b1b1b1;
    color: #b1b1b1;
    font-size: 40px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    padding: 7px 0 10px 0;
    text-align: center;
    float: left;
    transition: all .6s ease-in-out;
}
.contact-item:hover i{
    background-color: #0c6db1;
    border: 2px solid #0c6db1 !important;
    color: #fff;
}
.contact h3 {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
}
.contact p{
    font-size: 13px;
    color: #969595;
}
form{
    margin-top: 50px;
    background: #eaeaea30;
}
.form h3{
    padding-top: 20px;
    font-size: 25px;
}
form .message{
    height: 180px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-sub {
    border-radius: 0px;
    color: white;
    background-color: #0c6db1;
    padding: 10px 25px;
    margin: 5px 15px;
    margin-bottom: 1.2rem;
    border-color: #0c6db1;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.btn-sub:hover{
    background-color: #fff;
    border-color: #0c6db1;
    color: #0c6db1;
}
input[type="username"], input[type="email"], input[type="text"], .message{
    border-color: transparent;
    background: #fff;
    font-size: 13px;
    color: #969595;
}
input[type="username"]:focus, input[type="email"]:focus, input[type="text"]:focus, .message:focus{
    border-color: #0c6db1;
    box-shadow: 0 0 8px rgba(74,20,140,.1) !important;
}
input.form-control, .message {
    border-radius: 0px;
}

#map{
    margin-top: 5px; 
    padding: 150px 0 150px 0;
    background: #00000024;
}
#jobmap{
    margin-top: 5px; 
    height: 400px;
    background: #00000024;
}
.title-job{
    color: #0c6db1;
}



.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.popup {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}
@media (max-width: 576px) and (max-width: 120px){
    .border-bottom {
        border-bottom: 1px solid #0c6db1;
        margin-bottom: 0px;
    }
}



















